<div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th align='left'>Serial</th>
                    <th align='left' >ID</th>
                    <th align='left' >Name</th>
                    <th align='left' >File Name</th>
                    <th align='left' >Jewellery Picture</th>


              </tr>
                </thead>
                <tbody>

                  <tr><td width='50'> 4</td><td width='50'> 3 </td><td width='100'> Bangles </td><td width='200'> b1.jpg </td><td style='padding-left: 3%'><img src='../../../images/JewelleryFiles/b1.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 5</td><td width='50'> 5 </td><td width='100'> ear ring </td><td width='200'> e5.jpg </td><td style='padding-left: 3%'><img src='../../../images/JewelleryFiles/e5.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 6</td><td width='50'> 6 </td><td width='100'> ring </td><td width='200'> r13.jpg </td><td style='padding-left: 3%'><img src='../../../images/JewelleryFiles/r13.jpg' style="width:64px;height:64px;" /></td>
</tr>

                </tbody>
            </table>

