<div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th align='left'>Serial</th>
                    <th align='left' >ID</th>
                    <th align='left' >Name</th>
                    <th align='left' >File Name</th>
                    <th align='left' >Palki Picture</th>


              </tr>
                </thead>
                <tbody>

                  <tr><td width='50'> 4</td><td width='50'> 1 </td><td width='100'>  </td><td width='200'>  </td><td style='padding-left: 3%'><img src='../../../../images/PalkiFiles/' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 5</td><td width='50'> 2 </td><td width='100'>  </td><td width='200'>  </td><td style='padding-left: 3%'><img src='../../../../images/PalkiFiles/' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 6</td><td width='50'> 3 </td><td width='100'>  </td><td width='200'>  </td><td style='padding-left: 3%'><img src='../../../../images/PalkiFiles/' style="width:64px;height:64px;" /></td>
</tr>

                </tbody>
            </table>

