<div class="table-responsive">
            <table class="table">
                <thead>
                <tr>

                    <th align='left' >ID</th>
                    <th align='left' >Name</th>
                    <th align='left' >Details</th>

                    <th align='left' >Stage Picture</th>


              </tr>
                </thead>
                <tbody>

                  <td style='width: 200; text-align: center'>17</td>
                     <td style='width: 200; text-align: center'>Atypical</td>
                     <td style='width: 200; text-align: center'>new style</td>

                     <td style='padding-left: 3%'><img src='../../../../images/StageFiles/stage12.jpg' style="width:300px;height:300px;" /></td>


                </tbody>
            </table>

