<div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th align='left'>Serial</th>
                    <th align='left' >ID</th>
                    <th align='left' >Name</th>
                    <th align='left' >File Name</th>
                    <th align='left' >Stage Picture</th>


              </tr>
                </thead>
                <tbody>

                  <tr><td width='50'> 9</td><td width='50'> 1 </td><td width='100'> Elegant Blue </td><td width='200'> stage40.jpg </td><td style='padding-left: 3%'><img src='../../../../images/StageFiles/stage40.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 10</td><td width='50'> 2 </td><td width='100'> Fairytale Blue </td><td width='200'> Fairytale Blue.jpg </td><td style='padding-left: 3%'><img src='../../../../images/StageFiles/Fairytale Blue.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 11</td><td width='50'> 3 </td><td width='100'> Red Simple </td><td width='200'> stage7.jpg </td><td style='padding-left: 3%'><img src='../../../../images/StageFiles/stage7.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 12</td><td width='50'> 4 </td><td width='100'> poiu </td><td width='200'> stage1.jpeg </td><td style='padding-left: 3%'><img src='../../../../images/StageFiles/stage1.jpeg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 13</td><td width='50'> 5 </td><td width='100'> stage2 </td><td width='200'> stage2.jpg </td><td style='padding-left: 3%'><img src='../../../../images/StageFiles/stage2.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 14</td><td width='50'> 6 </td><td width='100'> Pure in White </td><td width='200'> stage4.JPG </td><td style='padding-left: 3%'><img src='../../../../images/StageFiles/stage4.JPG' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 15</td><td width='50'> 7 </td><td width='100'> Lovely Stage </td><td width='200'> stage14.jpg </td><td style='padding-left: 3%'><img src='../../../../images/StageFiles/stage14.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 16</td><td width='50'> 8 </td><td width='100'> Stylish  </td><td width='200'> stage16.jpg </td><td style='padding-left: 3%'><img src='../../../../images/StageFiles/stage16.jpg' style="width:64px;height:64px;" /></td>
</tr>

                </tbody>
            </table>

