<div class="table-responsive">
            <table class="table"
                <thead>
                <tr>

                    <th align='left' >ID</th>
                    <th align='left' >Name</th>
                    <th align='left' >Details</th>

                    <th align='left' >entrance Picture</th>


              </tr>
                </thead>
                <tbody>

                  <td style='width: 200; text-align: center'>1</td>
                     <td style='width: 200; text-align: center'>Red Floral Gate</td>
                     <td style='width: 200; text-align: center'>This entrance is new, beautiful one. It has a unique floral design that will surely set you apart</td>

                     <td style='padding-left: 3%'><img src='../../../../images/entranceFiles/Entrance9.jpg' style="width:300px;height:300px;" /></td>


                </tbody>
            </table>

