<div class="table-responsive">
            <table class="table">
                <thead>
                <tr>

                    <th align='left' >ID</th>
                    <th align='left' >Name</th>
                    <th align='left' >File Name</th>
                    <th align='left' >Entrance Picture</th>


              </tr>
                </thead>
                <tbody>

                  <td style='width: 200; text-align: center'>1</td>
                     <td style='width: 200; text-align: center'>Red Floral Gate</td>
                     <td style='width: 200; text-align: center'>Entrance9.jpg</td>
                     <td style='padding-left: 3%'><img src='UploadedFiles/Entrance9.jpg' style="width:64px;height:64px;" /></td>


                </tbody>
            </table>

