<div class="table-responsive">
            <table class="table">
                <thead>
                <tr>

                    <th align='left' >ID</th>
                    <th align='left' >Name</th>
                    <th align='left' >File Name</th>
                    <th align='left' >Palki Picture</th>


              </tr>
                </thead>
                <tbody>

                  <td style='width: 200; text-align: center'>3</td>
                     <td style='width: 200; text-align: center'>Bangles</td>
                     <td style='width: 200; text-align: center'>b1.jpg</td>
                     <td style='padding-left: 3%'><img src='UploadedFiles/b1.jpg' style="width:64px;height:64px;" /></td>


                </tbody>
            </table>

